        #rumah {
            width: 30%;
            margin: auto;
        }
        .Kompetensi {
            color: red;
            font-style: italic;
            font-size: large;
        }
        .Pendidikan{
            height: 500px;
        }
        .jangka {
            height: 30px;
        }
        .Huruf{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: xx-large;
            font-weight: 500;
        }
        .Jarak {
            margin-top: 30%;
            margin-bottom: 50px;
        }
        .warna {
            background-color: yellow;
        }
